* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --admin-primary-color: #118AEF;
  --admin-secondary-color: #fadf85;
  --admin-background-color: #7C2C83;
  --admin-text-color: #000;
  --admin-teritary-color: #fff;
  --admin-button-color: #dedede;
  --admin-header-hover-color: #2d5677;
  --admin-paratext-color: #515B6F;
  --admin-background1-color: #11235A;

}

/* AdminHeader */

a#basic-nav-dropdown{
  padding-bottom: 3px !important;
}
a#basic-nav-dropdownDot{
  padding-bottom: 3px !important;
}
a#basic-nav-dropdownDot a{
  color: #000;
}

a#basic-nav-dropdown::after {
  content: none; 

}
a#basic-nav-dropdownDot::after {
  content: none; 
}
.adminHeader{
  background-color:var(--admin-primary-color) ;
}
.adminHeaderNav .nav-link{
 color: var(--admin-teritary-color);
}
.adminHeaderNav .navbar-collapse .nav-link{
  position: relative;
  --bs-nav-link-hover-color: var(--admin-paratext-color) !important;
  transition: color 0.3s ease-in-out;
}
.adminHeaderNav .navbar-collapse .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--admin-teritary-color);
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
}
.adminHeaderNav .navbar-collapse .nav-link:hover::after {
  width: 100%;
  left: 0;
  background: var(--admin-teritary-color);
}

.adminHeaderNav .navbar-collapse .navbar-nav .nav-link.active, 
.adminHeaderNav .navbar-collapse .navbar-nav .nav-link.show {
  color: var(--admin-teritary-color) !important;
}

.adminHeaderNav .navbar-collapse .navbar-nav .nav-link.active::after, 
.adminHeaderNav .navbar-collapse .navbar-nav .nav-link.show::after {
  width: 100%;
  left: 0;
  background: var(--admin-teritary-color);
}

/* / Admin About / */
.adminAbout-banner {
  position: relative;
  background-image: url(../assets/client/about_bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.adminAbout-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--client-primary-color);
  opacity: 0.9;
  z-index: 1;
}

.adminAbout .content-wrapper {
  position: relative;
  z-index: 2;
}

.adminAbout-head {
  text-align: start;
  color: var(--client-teritary-color);
  margin-top: 20%;
 
}
.adminAbout h1{
  border-left: 5px solid var(--admin-line-color);
  border-radius: 5px;
}

.adminAbout-banner1 {
  position: relative;
  background-image: url(../assets/client/about_bg-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
}

.adminAbout-banner1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--admin-background1-color);
  opacity: 0.9;
  z-index: 1;
}

.adminAbout-banner1 .content-wrapper1 {
  position: relative;
  z-index: 2;
}

.aboutAbout-head1 {
  text-align: start;
  color: var(--admin-teritary-color);
  margin-top: 20%;
 
}

/* Courses Home */
.CoursesHome .courseheader{
  color: var(--admin-primary-color);
}

.CoursesHome .coursepara{
  font-size: 18px;
}