* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  --admin-primary-color: #fdefc2;
  --admin-secondary-color: #fadf85;
  --admin-background-color: #7C2C83;
  --admin-text-color: #000;
  --admin-teritary-color: #F6C00B;
  --admin-button-color: #dedede;
}
.custom-dropdown .dropdown-menu {
  width: 800px; /* Adjust width as needed */
  padding: 20px;
}

.custom-dropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.custom-dropdown .dropdown-header {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 0;
}
.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa; /* Adjust color as needed */
}
